@font-face {
    font-family: "LXGW WenKai Light";
    src: url("LXGWWenKai-Light.eot"); /* IE9 */
    src: url("LXGWWenKai-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("LXGWWenKai-Light.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("LXGWWenKai-Light.woff") format("woff"), /* chrome, firefox */
    url("LXGWWenKai-Light.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("LXGWWenKai-Light.svg#LXGW WenKai Light") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


