@font-face {
    font-family: "LXGW WenKai Screen";
    src: url("LXGWWenKaiScreen.eot"); /* IE9 */
    src: url("LXGWWenKaiScreen.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("LXGWWenKaiScreen.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("LXGWWenKaiScreen.woff") format("woff"), /* chrome, firefox */
    url("LXGWWenKaiScreen.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("LXGWWenKaiScreen.svg#LXGW WenKai Screen") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


